<!DOCTYPE html>
<html>
  <head>
    <!-- yield(:title)に各ページの:titleで設定された値が代入される -->
    <title><%= full_title(yield(:title)) %></title>
    <!-- ビューポートを使うと、PCでモードとSPモードを切り替えられるようになる -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--文字セットを表すmetaタグ-->
    <meta charset="utf-8">
    <!--以下の3行は、スタイルシートとjavascriptをページ内にインクルードする(含める)ためのもの-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <!-- flashメッセージを表示させるためのコード -->
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <!-- デバッグ情報を表示させる。if Rails.env.development?により開発環境にのみ表示される。 -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
